<section class="max-w-6xl mx-auto px-4 py-12">
  <h2 class="text-3xl font-bold text-center mb-10 text-gray-800">Popular Brands</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">

    <!-- MuscleBlaze -->
    <div class="p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/mb.jpeg" alt="MuscleBlaze" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- ON -->
    <div class="p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/on.jpeg" alt="ON" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- Muscletech -->
    <div class="p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/muscletech.png" alt="Muscletech" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- HK Vitals -->
    <div class=" p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/hkvitals.png" alt="HK Vitals" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- Isopure -->
    <div class="p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/isopure.png" alt="Isopure" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- Dymatize -->
    <div class="bg-white p-4 rounded-xl shadow hover:shadow-lg transition">
      <img src="/images/dymatize.png" alt="Dymatize" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- Fuel One -->
    <div class="p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/fuelone.jpeg" alt="Fuel One" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- Ultimate Nutrition -->
    <div class="p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/ultimate.png" alt="Ultimate Nutrition" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- Myprotein -->
    <div class="p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/myprotein.png" alt="Myprotein" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- TrueBasics -->
    <div class="p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/truebasics.png" alt="TrueBasics" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- Asitis -->
    <div class="p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/asitis.png" alt="Asitis" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

    <!-- OneScience -->
    <div class="p-4 rounded-xl hover:shadow-lg transition">
      <img src="/images/onescience.png" alt="OneScience" class="w-full h-20 object-contain mb-2 mx-auto">
    </div>

  </div>
</section>
