<section class="relative overflow-hidden mt-10" style="width: 95%; margin:auto; margin-top: 10px; border-radius: 10px;">
  <div class="carousel-container relative overflow-hidden">
    <div id="carouselTrack" class="carousel-track flex transition-transform duration-700 ease-in-out">

      <!-- <div class="carousel-slide min-w-full relative">
        <img src="/images/banner1.webp" alt="Supplements 1" class="w-full h-full object-cover">
      </div> -->
      
      <div class="carousel-slide min-w-full relative">
        <img src="/images/banner2.webp" alt="Supplements 1" class="w-full h-full object-cover">
      </div>

      <div class="carousel-slide min-w-full relative">
        <img src="/images/banner3.webp" alt="Supplements 1" class="w-full h-full object-cover">
      </div>

      <div class="carousel-slide min-w-full relative">
        <img src="/images/banner4.webp" alt="Supplements 1" class="w-full h-full object-cover">
      </div>

      <div class="carousel-slide min-w-full relative">
        <img src="/images/banner5.webp" alt="Supplements 1" class="w-full h-full object-cover">
      </div>

      <!-- <div class="carousel-slide min-w-full relative">
        <img src="/images/banner6.webp" alt="Supplements 1" class="w-full h-full object-cover">
      </div>

      <div class="carousel-slide min-w-full relative">
        <img src="/images/banner7.webp" alt="Supplements 1" class="w-full h-full object-cover">
      </div> -->
      
    </div>
  </div>
</section>

